apiVersion: v1
kind: Service
metadata:
  name: {{ include "right-sizer.fullname" . }}
  labels:
    {{- include "right-sizer.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.metricsPort | default 9090 }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    - port: 8082
      targetPort: api
      protocol: TCP
      name: api
    - port: 8081
      targetPort: health
      protocol: TCP
      name: health
  selector:
    {{- include "right-sizer.selectorLabels" . | nindent 4 }}
